# DISCORD BOT
TOKEN=abc123
WEATHER_API=abc123
ERROR_WEBHOOK=https://discord.com/api/webhooks

# DISCORD OAUTH2
DISCORD_CLIENT_ID=12345678900
DISCORD_CLIENT_SECRET=abc123
DISCORD_REDIRECT_URI=https://

# INVITE URL
URL=https://discord.com/oauth2/authorize?

# WEBPAGE
JWT_SECRET=abc123
DASHBOARD_URL=https://my-super-discord-bot.com
VITE_API_URL=https://api.my-super-discord-bot.com
DASHBOARD_API_KEYS=abc123

# TOPGG
TOPGG_TOKEN=abc123

# DATABASE
DB_HOST=https://database.my-super-discord-bot.com # or your Server IP
DB_PORT=3306
DB_USER=managerx
DB_PASSWORD=abc123
DB_NAME=managerx
DB_DATABASE=managerx
# CMS
CMS_ADMIN_EMAIL=name.name@gmail.com
CMS_ADMIN_PASSWORD=123
